img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table th {
    color: #56B551;
}

.total-record{
    color: #56B551;
    text-align:right;
    margin-top: 6px;
}
.btn-color{
    color: black;
}