.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #56B551;
    border-color: #56B551;
}

.customCheck{
    cursor: pointer;
    /*background: #fcfff4;*/
    /*box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);*/
}


table th {
    color: #56B551;
}

.total-record{
    color: #56B551;
    text-align:right;
    margin-top: 6px;
}
.btn-color{
    color: black;
}

.hidden-row th{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-bottom: hidden;
}

.table-overflow{
    max-height: 400px;
    overflow-y: auto;
}